* {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  width: 100%;
  height: 180vh;
}

.item1 {
  background-image: url("img1.png");
  background-size: 100% 100%;
  grid-row: 1 / 3;
  grid-column: 1 / 3;
}
.item2 {
  background-image: url("img2.png");
  background-size: 100% 100%;
  grid-row: 1 / 3;
  grid-column: 3 / 5;
}
.item3 {
  background-image: url("img3.png");
  background-size: 100% 100%;
  grid-row: 3 / 5;
}
.item4 {
  background-image: url("img4.png");
  background-size: 100% 100%;
  grid-column: 2 / 4;
  grid-row: 3 / 5;
}
.item5 {
  background-image: url("img5.png");
  background-size: 100% 100%;
  grid-row: 3/7;
}
.item6 {
  background-image: url("img6.png");
  background-size: 100% 100%;
  grid-row: 5/7;
}
.item7 {
  background-image: url("img7.png");
  background-size: 100% 100%;
  grid-column: 2/4;
  grid-row: 5/7;
}
.item8 {
  background-image: url("img8.png");
  background-size: 100% 100%;
}
.item9 {
  background-image: url("img9.png");
  background-size: 100% 100%;
}
.item10 {
  background-image: url("img10.png");
  background-size: 100% 100%;
  grid-column: 3/5;
}

.item {
  padding: 20px;
  text-align: center;
}

@media (max-width: 430px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
  }

  .item {
    grid-column: 1;
    grid-row: auto;    
  }

  .item2 {
    background-image: url("pimg1.png");
    grid-row: 1;
    height: 30vh;
  }
  .item1 {
    background-image: url("pimg2.png");
    grid-row: 2;
    height: 60vh;
  }
  .item3 {
    background-image: url("pimg3.png");
    grid-row: 3;
    height: 40vh;
  }
  .item6 {
    background-image: url("pimg4.png");
    grid-row: 4;
    height: 40vh;
  }
  .item4 {
    background-image: url("pimg5.png");
    grid-row: 5;
    height: 80vh;
  }
  .item8 {
    background-image: url("pimg6.png");
    grid-row: 6;
    height: 30vh;
  }
  .item7 {
    background-image: url("pimg7.png");
    grid-row: 7;
    height: 30vh;
  }
  .item5 {
    background-image: url("pimg8.png");
    grid-row: 8;
    height: 100vh;
  }
  .item9 {
    background-image: url("pimg9.png");
    grid-row: 9;
    height: 20vh;
  }
  .item10 {
    background-image: url("pimg10.png");
    grid-row: 10;
    height: 40vh;
  }
}


@media (max-width: 1200px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      width: 100%;
    }
  
    .item {
      grid-column: 1;
      grid-row: auto;    
    }
  
    .item2 {
      background-image: url("pimg1.png");
      grid-row: 1;
      height: 35vh;
    }
    .item1 {
      background-image: url("pimg2.png");
      grid-row: 2;
      height: 65vh;
    }
    .item3 {
      background-image: url("pimg3.png");
      grid-row: 3;
      height: 45vh;
    }
    .item6 {
      background-image: url("pimg4.png");
      grid-row: 4;
      height: 45vh;
    }
    .item4 {
      background-image: url("pimg5.png");
      grid-row: 5;
      height: 85vh;
    }
    .item8 {
      background-image: url("pimg6.png");
      grid-row: 6;
      height: 30vh;
    }
    .item7 {
      background-image: url("pimg7.png");
      grid-row: 7;
      height: 30vh;
    }
    .item5 {
      background-image: url("pimg8.png");
      grid-row: 8;
      height: 100vh;
    }
    .item9 {
      background-image: url("pimg9.png");
      grid-row: 9;
      height: 20vh;
    }
    .item10 {
      background-image: url("pimg10.png");
      grid-row: 10;
      height: 40vh;
    }
  }
  
